.DS_Store
*.sw*
.ipynb_checkpoints
compile_commands.json
__pycache__
sandbox.ipynb
logs
*.so
_*/
.polyscope.ini
*.npz
*.egg-info
build
imgui.ini
wandb/
data/
plots/
slurm_files/
val_lego/
paper_plots/
_results/
env_shacira/